body {
  margin: 15px;
  font-family: Arial, sans-serif;
  background: #e8e0c9;
}

.page {
  width: 100%;
}

.icon_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon_buttons input {
    margin-left: auto;
}

.primary-navigation {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.primary-navigation a {
  flex: 1;
  padding: 15px;
  border: 1px solid #555;
  background: white;
  text-decoration: none;
  color: black;
  text-align: center;
}

.primary-navigation .active {
  background: #8bb3e8;
}

.program-image img {
  width: 300px;
  border: 2px solid #777;
  background: white;
}

.featured_program {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
}

.section-title {
  background-color: #9b8d78; 
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.section-title h2 {
  margin: 0;

  font-size: 32px;
  color: #333;
}

.program-info {
  max-width: 600px;
}

.program-image {
  width: 300px;
  height: 300px;
  background: lightgray;
}